<md-bottom-sheet>
    <div layout="column" layout-align="center center" ng-cloak>
        <p>We use cookies in order to offer you better services. Please accept cookies for optimal performance.</p>
        <div><md-button md-no-ink ng-click="showPolicyDialog()">cookies</md-button><md-button class="md-primary" ng-click="acceptCookies()">Yes, I accept cookies</md-button><md-button class="md-raised" ng-click="rejectCookies()">No, I do not accept cookies</md-button></div>
    </div>
</md-bottom-sheet>
