<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" aria-label="Filter" ng-click="leftSidenavOpen ? closeLeftSidenav() : openLeftSidenav()">
            <md-icon class="material-icons">filter_list</md-icon>
        </md-button>

        <div flex></div>

        <md-button class="md-icon-button" aria-label="Best Practices" ng-click="rightPanelOpen ? closeRightPanel() : openRightPanel()">
            <md-icon md-menu-origin class="material-icons">list</md-icon>
        </md-button>
    </div>
</md-toolbar>