<md-toolbar class="md-hue-2">
    <div class="md-toolbar-tools">
        <!-- <md-button class="md-icon-button" aria-label="Filter" ng-click="leftSidenavOpen ? closeLeftSidenav() : openLeftSidenav()">
            <md-icon class="material-icons">filter_list</md-icon>
        </md-button> -->
		<a href="https://www.enabling-project.com/" target="_blank"><img src="enabling_logo.png" alt="Project Enabling logo" style="max-height: 48px; margin-right: 20px"></a>
        <h2>The Best Practices Atlas</h2>

        <div flex></div>

        <md-button class="md-icon-button" aria-label="Help" ng-click="showHelpDialog()">
            <md-icon class="material-icons">help</md-icon>
        </md-button>

        <md-button class="md-icon-button" aria-label="Acknowledgement" ng-click="showAcknowledgement()" style="padding: 0; border-radius: 0; width: auto;">
			<img src="img/eu_flag.jpg" style="height: 40px; width: auto;">
        </md-button>
        <!-- <md-button class="md-icon-button" aria-label="Best Practices" ng-click="rightPanelOpen ? closeRightPanel() : openRightPanel()">
            <md-icon md-menu-origin class="material-icons">list</md-icon>
        </md-button> -->
    </div>
</md-toolbar>
